        <div class="sitemap">
          <div class = 'siteTable'>
              <ul class="sitemapList">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/showings">Films</a></li>
                <li><a routerLink="/booking">Bookings</a></li>
                <li><a routerLink="/booking">Price</a></li>
                <li><a routerLink="/booking">FAQs</a></li>
                <li><a routerLink="/booking">Contact Us</a></li>
                <li><a routerLink="/booking">Find Us</a></li>
              </ul>
            </div>
              <p class='copy'>&#169; Copyright OrangeQA 2017<br></p>
        </div>