<!-- Footer by Marc -->        
        <div class="sitemap">
          <div class = 'siteTable'>
              <ul class="sitemapList">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/showings">Films</a></li>
                <li><a routerLink="/booking">Bookings</a></li>
                <li><a routerLink="/contact">Contact Us</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/forum">Forum</a></li>
              </ul>
            </div>
              <p class='copy'>&#169; Copyright OrangeQA 2017<br></p>
        </div> 