    <!-- Marc css + content, Nathan locations -->
    
    <div class="jumbotron-background">
        <div class = 'jumbotron jumbotronOpacityLow'>
            <h1  style = 'color: white;'>About Us</h1>
            <p  style = 'color: white;'>QA is a leader in the premium entertainment cinema sector in the UK.</p>
        </div>
    </div>
<br>

<div class = 'general-text'>
Committed to continued growth and development of its premium entertainment ‘big screen’ experience, QA delivers the best choice of content, combined with the best technology in the best environment.
<br><br>
QA has 87 state of the art cinemas throughout the UK and Ireland, with 843 screens. This includes 271 3D screens, 11 Extreme Screens, 7 Gold Class screens, 6 Scene Screens and Bars and 3 IMAX screens where QA project every film in Sony Digital Cinema 4K for ultra high definition pictures with four times more detail. 
<br><br>
QA was founded in the UK following the acquisition of the Warner Village Cinemas in 2003 and is part of the largest cinema group in Europe, QA International. 
<br><br>
Over the years QA has won numerous accolades for its service and innovations, including more recently International Exhibitor of the Year at CineEurope 2014 and Cinema Exhibitor of the Year Screen, Marketing & Distribution Awards 2013.
</div>

    <div class = 'locationBox'>
        We have Cinemas at various locations:
        <br>
        <ul>
          <li *ngFor="let location of locations">
            <h5>{{location.location}}</h5>
          </li>
        </ul>
      </div>

      <div class = 'locationBox'>
            Pricing:
            <br>
            <ul>
              <li *ngFor="let location of locations">
                <h5>{{location.location}}</h5>
              </li>
            </ul>
          </div>

