label{
    font-size: 16px;
}
.general-text{
    text-align: justify;
    padding-bottom: 45px;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.sitemap{
    background:#343a40;
    height: 21.5vh;
}
.sitemapList {
    margin:0;
	padding:0;
	float:left;
	width:100%;
}
.sitemapList li {
    display: inline;
    padding: 0px;
    margin: 0;
    font-size: 0.9em;
    background:#343a40;
}
.sitemapList a:link,
.sitemapList a:visited {
    color:#9a9d9e;
	padding:40px 20px 20px 20px;
	float:left;
	width:auto;
	text-decoration:none;
}
.sitemapList a:hover,
.sitemapList a:focus {
	color:white;
}
.copy{
    text-align: center;
    font-size: 0.8em;
    color: #9a9d9e;
    background: #343a40;
    margin:0;
}
.siteTable{
    display: table;
    margin: 0 auto;
}

.QA-ham-nav{
    margin: 10px;
    padding: 5px;
}
.QA-ham-nav-list{
    list-style: none;
}
.QA-ham-nav-list li{
    padding-top: 5px;
    padding-bottom: 5px;
}
.QA-ham-nav-list a{
    color: #848484;
    background: none;
    display: inline;
    padding: 5px;
}
.QA-ham-nav-list a:hover{
    color: black;
    font-size: 1.1em;
}
.navbar navbar-expand-md navbar-dark bg-dark fixed-top{
    margin:0;
}

.container{
    min-height: 79.5vh
}
.jumbotron-background{
    background-image: url('../../../img/bg1.jpg');
    background-position: center;
    background-size: 100%;
}
.jumbotron-background2{
    background-image: url('../../../img/bg2.jpg');
    background-position: center;
    background-size: 100%;
}
.jumbotron img{
    width:100%;
}
.jumbotron {
    opacity: 0.6;
}


table, tr, th, td {
    border: none;
}

#carousel{
    max-width: 1100px;
    max-height:450px;
    margin: auto;
}

#carousel img#poster{
    width:100%;
    height: auto;
    max-width:100%;
    margin:auto;
}

.Display-film-tiles{
    list-style-type: none;
}

.pic{
    width:255px;
    height:369px;
}

.age-rating{
    position: relative;
    left: 150px;
    bottom:50px;
}

.age-rating-logo{
    width:25%;
}

.mdl-grid{
    align-items: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-flex;
}

.film-tile-padding{
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    justify-content: center;
}

.film-title{
    padding-top:45px;
}

.container {
    position:relative;
    margin: auto;
    width: 100%;
    padding: 10px;

}

.background {
    margin: auto;
    height: 300px;
    width: 255px;
}

#login-box .mdl-layout {
    align-items: center;
    justify-content: center;
}
#login-box .mdl-layout__content {
    padding: 24px;
    flex: none;
}

.mdl-card__title-text{
    font-size: 18px;
}

.mdl-card {
    display: inline-flex;
    width: 515px;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    height: 500px;
    box-shadow: 3px 3px 5px #888;
    border-radius: 5px;
}

#account-box {
	  position: absolute;
    display: block;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
    height: 100%;
	  background: rgba(0, 0, 0, 0.5);
}

#account-box .mdl-layout {
    align-items: center;
    justify-content: center;
}

#account-box .mdl-layout__content {
	  padding: 24px;
	  display: grid;
}

#account-box .mdl-card {
    margin: auto;
    width: 330px;
    height: auto;
    border-radius: 0px;
    box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.5);
}

#account-box .mdl-textfield {
	  padding: 7px 0;
}

#account-box .mdl-textfield__input {
    border: 1px solid #dedede;
    transition: all .6s;
    height: 30px;
    padding-left: 5px;
    margin-left: -2.55555555px;
}

#account-box .mdl-card__supporting-text,
#account-box .mdl-textfield__input {
	box-sizing: content-box;
}

#account-box .mdl-textfield__input:focus {
    border: 1px solid #3f51b5;
    box-shadow: 0px 0px 0px #000;
}

#account-box .mdl-textfield__input:focus {
    color: #3f51b5;
}

#account-box .mdl-button:active, #account-box .mdl-button:hover  {
    background-color: rgb(63, 81, 181);
    color: #fff;
}

#account-box .mdl-button {
    border: 1px solid #3f51b5;
    box-shadow: 0px 0px 6px -2px #3f51b5;
	  display: grid;
    width: 100%;
}

#account-box .account_link {
    position: relative;
    display: table;
    margin: 10px auto 0;
    font-size: 14px;
    cursor: pointer;
    text-decoration: underline;
    color: #d00;
}

#account-box .account_link:active, #account-box .account_link:hover {
    color: #730000;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

#account-box .accountClose {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 21px;
    margin: 12.999999px;
    padding: 0 5.2px;
    color: #fff;
    border: 2px solid #ffffff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    box-shadow: 1px 1px 6px 0px #000;
	  cursor: pointer;
	  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#account-box .accountClose:active, #account-box .accountClose:hover {
	  border: 2px solid #e84141;
    background-color: pink;
}

.drop-down-information{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 20px 20px 20px;
}

.popUpInfoBox{
    position: inherit;
    top: 0px;
    width: 100%;
}

.Pop-Up-information{
    position: fixed;
    top: 50px;
    left: 0px;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.85);
    color:#fff;
    padding: 20px 20px 20px 20px;
}

.iframe{
  position:relative
  margin:auto;
  padding-top: 20px;
  padding-bottom: 20px
}

.bookNowButtonDiv{
  position: relative;
  margin:auto;
}

.filmNameDisplay{
    background-size: cover;
    height: 275px;
}

.bookingHeading{
    padding-left: 50px;
    color: black;

}

.bookingHeading2{
    padding-left: 50px;
    color: black;
    text-shadow: 1px 1px white;
}

.bookingHeading3{
    padding-left: 50px;
    color: black;
    font-size: 18px;
}

.findUsHeading{
    padding-left: 50px;
    color: black;
    padding-top: 80px;

}

.ticketDetailsSelection{
    background: white;
    padding-top: 25px;
    padding-bottom: 150px;
}

.pageSplit{
    margin:auto;
}

.setOut{
    border: none;
    margin: auto;
    padding: 20px;
    padding-bottom: 20px;
}

.setOut tr td:first-child{
   width:150px;
}

.setOut tr td:nth-child(2){
     width:150px;
}

.setOut tr td:nth-child(3){

}

.setOut tr td:nth-child(4){

}

.setOut tr td:nth-child(5){
     width:50px;
}

.setOut2{
    border: none;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
}

.setOut2 tr td:first-child{
    width:350px;
}

.removeButton {
    border: none;
    background: none;
    color: #ff4081;
}

.totalTicks{
    text-align: center;
}

.ticketInfo{
    text-align: left;
    padding-bottom: 20px;
}


.dropdownBooking{
    width: 200px;
    height: 35px;
    border-bottom-width: 1px;
    border-bottom-color: deeppink;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    background: white;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    text-align: center;
    text-align-last: center;
    font-size: 14px;
    background: #fcfcfc
}

.dropdownBooking:hover {
    background-color: whitesmoke;
}

.basket{
    width: 300px;
    margin: auto;
}

.mdl-button--fab.mdl-button--mini-fab {
    height: 30px;
    min-width: 30px;
    width: 20px;
}

.orderBtn{
    height: 30px;
    line-height: 30px;
    font-size: small;
}

.mapSetOut{
    padding-bottom: 80px;
}

.mapHeading{
    padding-left: 50px;
}

.mapTable{
    border: none;
    margin: auto;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.mapTable tr td{
    width:400px;
    padding: 10px;
}
