<!-- Nathan contact form, Marc css and details above contact form -->
<div class="jumbotron-background4">
    <div class="jumbotron jumbotronOpacityVeryLow">
    <h1 style = 'color: white;'>Contact Us</h1>
    <p style = 'color: white;'> We are available to contact 24/7, to ensure no query is left unsolved.</p>
    </div>
</div>

<div>
    Our contact details are: <br><br>
    <h4>phone number: 01234 567890</h4>
    <h4>email: QACinema@email.com</h4>
</div>
<br>

<div class = 'general-text'>
    Local rate number. If you're in Ireland, call 1890 800 705 (ROI), where the call will be charged at your local rate.
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h3>Contact Form</h3></div>
    <div class="panel-body">
        <div id="formDiv">
            <form class = "contactForm" id="contactForm" (submit)="handleSubmit($event)">
              <table class="setOut">
                <tr class="formRow">
                  <td class="rowElement">Title:</td>
                  <td class="rowElement" id="honorific" value="select" (change)="this.getHonorific($event)"><select class = 'dropdownBooking'>
                        <option value="Select" >Select</option>
                        <option>Dr</option>
                        <option>Miss</option>
                        <option>Mr</option>
                        <option>Mrs</option>
                        <option>Ms</option>
                      </select></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement">First name:</td>
                  <td class="rowElement"><input type="text" class = 'dropdownBooking' placeholder="Enter first name" id="firstName" /></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement">Surname:</td>
                  <td class="rowElement"><input type="text" class = 'dropdownBooking' placeholder="Enter surname" id="surname" /></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement">Date of birth:</td>
                  <td class="rowElement"><input type="date" class = 'dropdownBooking' id="dob" /></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement">E-Mail:</td>
                  <td class="rowElement"><input type="text" class = 'dropdownBooking' placeholder="Enter email" id="email" /></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement" id="contactReason">Reason for contacting:</td>
                  <td class="rowElement" value="select" (change)="getReason($event)"><select class = 'dropdownBooking'>
                        <option>Select</option>
                        <option>Complaint</option>
                        <option>Report good experience</option>
                        <option>Suggestions</option>
                        <option>Other reason</option>
                      </select></td>
                </tr>
                <tr class="formRow">
                  <td class="rowElement">Message:</td>
                  <td class="rowElement"><textarea placeholder="Enter message here" id="message" class = 'dropdownBooking'></textarea></td>
                </tr>    
                <tr>
                    
                  </tr>  
              </table>
              <div class = 'submitDiv'>
                  <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent submitButton"id="submit" >Submit</button>                    
              </div>
            </form>
          </div>
    </div>
  </div>
