<!-- <div className="mdl-grid film-grid">
  {films.map((film) =>
  <FilmPageListItem key={film.id}
     film={film} onClick={this.onSelect.bind(this)} />
  )}
{ this.state.isActive ? <PopUpInfo film_name={this.state.filmName} film_description={this.state.filmDesc}
              trailer={this.state.trailer} comments={this.state.comments} onClose={this.onClose.bind(this)} /> : ''}
</div> -->

<div *ngFor="let film of films" class="mdl-color--grey-700">
  <h3>{{film.film_name}}</h3>
  <p>{{film.quote}}</p>
</div>
